* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Open sans", sans-serif;
}

main {
  width: 40rem;
  margin: 4rem auto;
}

main img {
  margin-bottom: 2rem;
}

h1 {
  color: #3f3d56;
  font-family: "Dosis", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

h1 span {
  color: #ee24ff;
  font-weight: bold;
}

p,
a {
  color: #828282;
  font-size: 0.93rem;
  line-height: 1.7rem;
}

main p + p {
  margin-top: 2rem;
}

span,
a {
  color: #3f3d56;
  font-weight: bold;
}

footer a + a {
  margin-left: 2.6rem;
}

footer img {
  width: 100%;
  margin-top: 3rem;
}
