* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-base-white: #fff;

  --color-base-black-400: #121214;
  --color-base-black-700: #202024;

  --color-base-green-400: #387e96;
  --color-base-green-700: #065e7c;
}

body {
  font-size: 1.6rem;
  font-family: "Mulish", sans-serif;
}

#app {
  display: grid;
  grid-template-rows: max-content 1fr max-content;

  height: 100vh;
}

header {
  background-color: var(--color-base-green-700);

  padding: 1.6rem 2.8rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

header form {
  flex: 1;
}

.input-wrapper label {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
}

.input-wrapper input {
  width: 100%;

  padding: 1.2rem 1.6rem;
  border: none;
  border-radius: 0.4rem;

  background-color: var(--color-base-green-400);
  color: var(--color-base-white);

  font-family: "Mulish", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

.input-wrapper input::placeholder {
  color: var(--color-base-white);
}

#avatar {
  width: 4.2rem;
  height: 4.2rem;

  border-radius: 50%;
}

main {
  background-color: #fff;

  width: 100%;
  overflow-x: hidden;
}

main > img {
  width: 105%;

  margin-bottom: 3.2rem;
  transition: all 0.8s ease-in-out;
}

main > img:hover {
  filter: hue-rotate(10deg) contrast(102%) saturate(200%);
  transform: scale(1.1);
}

/* .container {
  margin-inline: 2.4rem;
} */

section,
aside {
  margin-inline: 2.4rem;
}

main h1,
aside strong {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 160%;
}

main h1 {
  margin-bottom: 0.8rem;
}

.curtir-artigo {
  display: flex;
  align-items: center;
  gap: 1.2rem;

  margin-bottom: 3.2rem;
}

.like-dislike-btn {
  background-color: var(--color-base-green-700);

  padding: 1.2rem 1.2rem 0.8rem;
  border-radius: 50%;

  transition: 0.8s ease-in-out;
}

.like-dislike-btn:hover {
  opacity: 0.6;
}

main p {
  font-weight: 400;
  line-height: 160%;

  margin-bottom: 3rem;
}

aside strong {
  display: block;
}

aside {
  display: grid;
  gap: 3.2rem;

  margin-bottom: 4rem;
}

.article {
  max-height: 90px;

  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    "a b b "
    "a c c"
    "a c c";
  gap: 0 1.6rem;

  overflow-y: hidden;
}

.article .img-container {
  width: 15rem;
  height: 8.4rem;

  border-radius: 0.6rem;
  align-self: flex-start;
  grid-area: a;

  overflow: hidden;
}

.article img {
  width: 95%;

  aspect-ratio: 16/9;
  object-fit: cover;

  border-radius: 0.6rem;

  transition: all 0.8s linear;
}

.article img:hover {
  filter: hue-rotate(7deg) contrast(102%) saturate(200%);
  transform: scale(1.1);
}

.article h3 {
  grid-area: b;

  font-size: 1.8rem;
}

.article p {
  grid-area: c;
  align-self: center;

  font-size: 1.4rem;
}

footer {
  background-color: var(--color-base-green-400);
  color: var(--color-base-white);

  text-align: center;

  padding: 1.6rem;
  font-weight: 600;
  line-height: normal;
}

/* Animations */
header {
  --startY: -100%;
  --startX: 0%;
  animation: entrance 0.8s;
}

footer {
  --startY: 100%;
  --startX: 0%;
  animation: entrance 0.8s;
}

main {
  --startY: 0%;
  --startX: -100%;
  animation: entrance 0.8s;
}

#avatar {
  animation: avatar 1s ease-out;
}

@keyframes entrance {
  0% {
    opacity: 0;
    transform: translate(var(--startX), var(--startY));
  }
  50% {
    opacity: 0.2;
  }
}

@keyframes avatar {
  from {
    transform: scale(2);
  }
  to {
    transform: scale(1);
  }
}

/* Media queries */

@media (min-width: 1250px) {
  main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, max-content);
    grid-template-areas:
      "a c"
      "b c";
    gap: 0 7.6rem;
    padding: 4.4rem 5.6rem;
  }

  main > img {
    grid-area: a;

    margin-left:2.4rem;
    border-radius: 1rem;
  }

  main > img:hover {
    transform: scale(1.01);
  }

  main > img,
  section {
    width: 70rem;
  }

  section {
    grid-area: b;
  }

  aside {
    grid-area: c;
    align-self: flex-start;

    width: 38rem;
  }
}
