* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --ff-headings: "Staatliches", cursive;
  --ff-description: "Palanquin", sans-serif;

  --hue: 260;

  --fc-logo: hsl(var(--hue), 0%, 100%);
  --fc-description: hsl(var(--hue), 84%, 12%);
  --fc-tags: hsl(var(--hue), 17%, 35%);

  --bg-primary: hsl(var(--hue), 100%, 97%);
  --bg-header: hsl(var(--hue), 17%, 62%);
  --bg-logo: hsl(var(--hue), 18%, 79%);
}

body {
  font-size: 1.6rem;
}

body h1,
h3 {
  font-family: var(--ff-headings);
}

header {
  background-color: var(--bg-header);
}

header h1 {
  background-color: var(--bg-logo);
  color: var(--fc-logo);

  margin-bottom: 3rem;
}

p {
  font-family: var(--ff-description);

  color: var(--fc-description);
}

p,
main {
  background-color: var(--bg-primary);
}

h3 {
  color: var(--fc-tags);
}
